Repository darthinvader/daggerheart-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec prettier --write, pnpm exec eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["pnpm exec prettier --write", "pnpm exec eslint --fix"],
  "*.{json,md,css,scss,html}": ["pnpm exec prettier --write"]
}

feat: add inventory management components and logic
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  src/components/characters/domains-card.tsx
  src/components/characters/domains-drawer.tsx
  src/components/characters/domains-drawer/available-cards-section.tsx
  src/components/characters/domains-drawer/loadout-limits.ts
  src/components/characters/equipment-card.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/inventory-card.tsx
  src/components/characters/inventory-drawer.tsx
  src/components/characters/resources-card.tsx
  src/components/layout/quick-jump.tsx
  src/features/characters/logic/domains.ts
  src/features/characters/logic/inventory.ts
  src/features/characters/storage.ts
  src/lib/storage.ts
  src/routes/characters/$id.tsx
  tests/inventory-logic.test.ts
  tests/quick-jump.test.tsx
  tests/resources-card.test.tsx
  vitest.setup.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: remove QuickJump component and related tests due to user-reported bugs; update character sheet and inventory card to pass data directly
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  memory-bank/tasks/_index.md
  src/components/characters/equipment-card.tsx
  src/components/characters/inventory-card.tsx
  src/components/layout/quick-jump.tsx
  src/routes/characters/$id.tsx
  tests/quick-jump.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: enhance inventory drawer with search functionality and expandable item details
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  memory-bank/tasks/_index.md
  src/components/characters/equipment-card.tsx
  src/components/characters/equipment-chips.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/inventory-drawer.tsx
  src/components/drawers/drawer-scaffold.tsx
  src/routes/characters/$id.tsx
  tests/equipment-drawer.free-homebrew-filters.test.tsx
  tests/equipment-drawer.test.tsx
  vite.config.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix

Refactor UI components to centralize class names for better maintainability
  memory-bank/tasks/TASK006-large-file-analyzer-and-refactors.md
  memory-bank/tasks/_index.md
  scripts/size-report.mjs
  size-report.md
  src/components/characters/character-json-menu.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/equipment-drawer/armor-list-item.tsx
  src/components/characters/equipment-drawer/homebrew-armor-form.tsx
  src/components/characters/equipment-drawer/homebrew-weapon-form.tsx
  src/components/characters/equipment-drawer/source-filter-toggle.tsx
  src/components/characters/equipment-drawer/weapon-list-item.tsx
  src/components/ui/chart-utils.ts
  src/components/ui/chart.tsx
  src/components/ui/command-classes.ts
  src/components/ui/command.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/menubar.tsx
  src/components/ui/navigation-menu-classes.ts
  src/components/ui/navigation-menu.tsx
  src/components/ui/select-classes.ts
  src/components/ui/select.tsx
  src/routes/characters/$id.tsx
  vite.config.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix

Refactor Equipment Drawer: Modularize Components and Improve Readability
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/refactor-plan.md
  memory-bank/tasks/TASK006-large-file-analyzer-and-refactors.md
  memory-bank/tasks/_index.md
  src/components/characters/domains-drawer.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/equipment-drawer/armor-filters-toolbar.tsx
  src/components/characters/equipment-drawer/armor-results-list.tsx
  src/components/characters/equipment-drawer/current-selection-strip.tsx
  src/components/characters/equipment-drawer/weapons-filters-toolbar.tsx
  src/components/characters/equipment-drawer/weapons-results-list.tsx
  src/components/characters/inventory-drawer.tsx
  src/components/characters/inventory/slot-row.tsx
  src/components/drawers/drawer-scaffold.tsx
  src/components/ui/dialog.tsx
  src/components/ui/tabs.tsx
  src/features/characters/prefetch.ts
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: enhance Equipment and Inventory drawers with idle prefetching for improved performance; refactor armor handling for mobile display
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  memory-bank/tasks/TASK006-large-file-analyzer-and-refactors.md
  src/components/characters/domains-drawer.tsx
  src/components/characters/domains-drawer/loadout-footer.tsx
  src/components/characters/equipment-card.tsx
  src/components/characters/equipment-chips.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/equipment-drawer/armor-list-item.tsx
  src/components/characters/equipment-drawer/weapon-list-item.tsx
  src/routes/__root.tsx
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

refactor: simplify EquipmentCard header by removing the edit button and updating the layout
  src/components/characters/equipment-card.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: add Vercel deployment configuration with SPA routing and common issues documentation
  README.md
  vercel.json
Due: pnpm exec prettier --write

feat: update Vercel configuration to use routes instead of rewrites for improved routing handling
  pnpm-workspace.yaml
  vercel.json
Due: pnpm exec prettier --write

feat: update Vercel configuration to specify framework and improve routing pattern
  vercel.json
Due: pnpm exec prettier --write

feat: remove unnecessary cleanUrls and trailingSlash settings from Vercel configuration
  vercel.json
Due: pnpm exec prettier --write

feat: enhance boot diagnostics in main.tsx and refine Vercel routing pattern
  src/main.tsx
  vercel.json
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: update Vercel routing to serve index.html from root path
  vercel.json
Due: pnpm exec prettier --write

fix: correct indentation in package.json and remove framework field from vercel.json
  vercel.json
Due: pnpm exec prettier --write

feat: add Netlify configuration and redirects for SPA support
  .nvmrc
  netlify.toml
  public/_redirects
Due: none

feat: implement global error logging and integrate into main application
  src/global-error-log.ts
  src/main.tsx
  vite.config.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix

refactor: simplify visualizer plugin configuration in vite.config.ts
  vite.config.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: add LibraryResultsList component for displaying inventory items
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/refactor-plan.md
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  memory-bank/tasks/_index.md
  package.json
  src/components/characters/equipment-card.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/equipment-drawer/armor-filters-toolbar.tsx
  src/components/characters/equipment-drawer/hooks/use-equipment-filters.ts
  src/components/characters/equipment-drawer/panels/armor-panel.tsx
  src/components/characters/equipment-drawer/panels/primary-panel.tsx
  src/components/characters/equipment-drawer/panels/secondary-panel.tsx
  src/components/characters/inventory-card.tsx
  src/components/characters/inventory-drawer.tsx
  src/components/characters/inventory-drawer/homebrew-item-form.tsx
  src/components/characters/inventory-drawer/homebrew/consumable-fields.tsx
  src/components/characters/inventory-drawer/homebrew/modification-fields.tsx
  src/components/characters/inventory-drawer/homebrew/potion-fields.tsx
  src/components/characters/inventory-drawer/homebrew/recipe-fields.tsx
  src/components/characters/inventory-drawer/homebrew/relic-fields.tsx
  src/components/characters/inventory-drawer/homebrew/shared-fields.tsx
  src/components/characters/inventory-drawer/homebrew/utility-fields.tsx
  src/components/characters/inventory-drawer/inventory-filters-toolbar.tsx
  src/components/characters/inventory-drawer/library-results-list.tsx
  src/components/characters/inventory/badges.tsx
  src/components/characters/inventory/category-inline-details.tsx
  src/components/characters/inventory/cost-chips.tsx
  src/components/characters/inventory/equipped-list.tsx
  src/components/characters/inventory/slot-row.tsx
  src/features/characters/logic/cost.ts
  src/features/characters/logic/inventory.ts
  src/routes/characters/$id.tsx
  tests/cost-samples.test.ts
  tests/inventory-logic.test.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: enhance user experience with UX polish and new features in various components
  memory-bank/activeContext.md
  src/components/characters/core-scores-card.tsx
  src/components/characters/domain-card-item.tsx
  src/components/characters/domains-drawer.tsx
  src/components/characters/domains-drawer/loadout-footer.tsx
  src/components/characters/equipment-drawer/armor-filters-toolbar.tsx
  src/components/characters/hooks/use-drawer-autosave.ts
  src/components/characters/identity-drawer.tsx
  src/components/characters/inventory-card.tsx
  src/components/characters/inventory-drawer/library-results-list.tsx
  src/components/characters/resources-card.tsx
  src/components/drawers/drawer-scaffold.tsx
  src/routes/characters/$id.tsx
  tests/resources-card.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: add comprehensive guidelines for Copilot usage and enhance README with character routes and mobile editing details
  .github/instructions/tmp/taming-copilot.instructions.md
  README.md
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  memory-bank/tasks/_index.md
  src/components/characters/domains-drawer/domains-filter-bar.tsx
  src/components/characters/identity-drawer.tsx
  src/components/drawers/drawer-scaffold.tsx
  src/components/forms/form-input.tsx
  src/components/ui/command.tsx
  src/index.css
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: add task for character leveling, thresholds, and class/subclass features implementation
  memory-bank/tasks/TASK007-character-leveling-thresholds-and-class-features.md
  memory-bank/tasks/_index.md
Due: pnpm exec prettier --write

feat: add thresholds management with inline display and settings
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks/TASK007-character-leveling-thresholds-and-class-features.md
  memory-bank/tasks/_index.md
  size-report.json
  size-report.md
  src/components/characters/core-scores-card.tsx
  src/components/characters/resources-card.tsx
  src/components/characters/thresholds-card.tsx
  src/components/characters/thresholds-inline.tsx
  src/components/characters/thresholds-summary.tsx
  src/features/characters/logic/progression.ts
  src/features/characters/logic/thresholds-format.ts
  src/features/characters/logic/thresholds-util.ts
  src/features/characters/logic/use-thresholds.ts
  src/features/characters/storage.ts
  src/lib/storage.ts
  src/routes/__root.tsx
  src/routes/characters/$id.tsx
  tests/core-scores-card.thresholds.test.tsx
  tests/progression.test.ts
  tests/resources-card.test.tsx
  tests/thresholds-card.test.tsx
  tests/thresholds-inline.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

Refactor character identity components and logic
  memory-bank/activeContext.md
  memory-bank/progress.md
  src/components/characters/ancestry-card.tsx
  src/components/characters/ancestry-drawer.tsx
  src/components/characters/community-card.tsx
  src/components/characters/community-drawer.tsx
  src/components/characters/identity-card.tsx
  src/components/characters/identity-drawer.tsx
  src/components/characters/identity/card-scaffold.tsx
  src/components/characters/identity/feature-block.tsx
  src/components/characters/identity/homebrew-badge.tsx
  src/components/characters/identity/trait-chips.tsx
  src/components/characters/identity/types.ts
  src/components/forms/form-input.tsx
  src/features/characters/logic/identity.ts
  src/features/characters/storage.ts
  src/routes/characters/$id.tsx
  tests/ancestry-card.test.tsx
  tests/ancestry-drawer.performance.test.tsx
  tests/ancestry-drawer.save.test.tsx
  tests/community-card.test.tsx
  tests/thresholds-card.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: integrate inline features management into ClassDrawer
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/tasks/TASK007-character-leveling-thresholds-and-class-features.md
  memory-bank/tasks/_index.md
  src/components/characters/class-card.tsx
  src/components/characters/class-drawer.tsx
  src/components/characters/class-summary.tsx
  src/components/characters/features-card.tsx
  src/components/characters/features-drawer.tsx
  src/components/characters/features-list.tsx
  src/features/characters/logic/features.ts
  src/features/characters/logic/index.ts
  src/features/characters/storage.ts
  src/lib/storage.ts
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

chore: update husky scripts for improved execution and permissions; clean up imports in primary-panel.tsx
  .husky/commit-msg
  .husky/pre-commit
  src/components/characters/equipment-drawer/panels/primary-panel.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

Refactor character leveling and drawer components
  .github/prompts/levelup.md
  src/components/characters/ancestry-drawer.tsx
  src/components/characters/class-drawer.tsx
  src/components/characters/community-drawer.tsx
  src/components/characters/domains-drawer.tsx
  src/components/characters/domains-drawer/loadout-footer.tsx
  src/components/characters/equipment-drawer.tsx
  src/components/characters/inventory-drawer.tsx
  src/components/characters/leveling/level-card.tsx
  src/components/characters/leveling/level-up-drawer.tsx
  src/components/characters/thresholds-inline.tsx
  src/components/drawers/drawer-scaffold.tsx
  src/lib/data/core/level-progression.ts
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: Finalize mobile header chips and enhance resources management
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks/TASK005-character-mobile-display-and-editor.md
  memory-bank/tasks/TASK007-character-leveling-thresholds-and-class-features.md
  memory-bank/tasks/_index.md
  src/components/characters/resources-card.tsx
  src/components/layout/sheet-header.tsx
  src/features/characters/logic/resources.ts
  src/features/characters/storage.ts
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

Refactor character card headers to make titles tappable for editing
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks/TASK022-edit-affordances-refactor.md
  memory-bank/tasks/_index.md
  src/components/characters/ancestry-card.tsx
  src/components/characters/class-card.tsx
  src/components/characters/community-card.tsx
  src/components/characters/domains-card.tsx
  src/components/characters/features-card.tsx
  src/components/characters/identity-card.tsx
  src/components/characters/identity/card-scaffold.tsx
  src/components/characters/inventory-card.tsx
  src/components/characters/leveling/level-card.tsx
  src/components/characters/presenters/card-header.tsx
  src/components/characters/resources-card.tsx
  src/components/layout/sheet-header.tsx
  src/routes/characters/$id.tsx
  tests/card-header.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: Add ExperiencesCard component for managing narrative experiences
  memory-bank/activeContext.md
  memory-bank/progress.md
  src/components/characters/experiences-card.tsx
  src/features/characters/storage.ts
  src/lib/schemas/player-character.ts
  src/lib/storage.ts
  src/routes/characters/$id.tsx
  tests/experiences-card.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: Enhance Level Up Drawer and Level Card with live Points/Spent calculation and compact summaries refactor: Improve header name UX by updating placeholder text and aria-labels
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/tasks/TASK029-improve-name-ux.md
  memory-bank/tasks/_index.md
  src/components/characters/leveling/level-card.tsx
  src/components/characters/leveling/level-up-drawer.tsx
  src/components/layout/sheet-header.tsx
  src/routes/characters/$id.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: Add increment and decrement buttons to GoldCard for better gold management
  src/components/characters/gold-card.tsx
  src/components/characters/leveling/level-card.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: Refactor domains drawer and card components for improved usability and performance
  src/components/characters/character-page/blocks/ancestry-block.tsx
  src/components/characters/class-card.tsx
  src/components/characters/domain-card-item.tsx
  src/components/characters/domains-drawer.tsx
  src/components/characters/domains-drawer/DomainSimpleList.tsx
  src/components/characters/domains-drawer/available-cards-section.tsx
  src/components/characters/domains-drawer/domains-lists-section.tsx
  src/components/characters/domains-drawer/domains-tabs.tsx
  src/components/characters/domains-drawer/loadout-list.tsx
  src/components/characters/domains-drawer/tabs-header.tsx
  src/components/characters/domains-drawer/vault-list.tsx
  src/components/characters/domains-drawer/virtual-card-list.tsx
  src/components/characters/identity/card-scaffold.tsx
  src/components/characters/presenters/card-header.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

[feat]: Responsive Modal
  .github/instructions/tmp/containerization-docker-best-practices.instructions.md
  .github/instructions/tmp/copilot-thought-logging.instructions.md
  .github/instructions/tmp/gilfoyle-code-review.instructions.md
  .github/instructions/tmp/instructions.instructions.md
  .github/instructions/tmp/localization.instructions.md
  .github/instructions/tmp/markdown.instructions.md
  .github/instructions/tmp/memory-bank.instructions.md
  .github/instructions/tmp/nodejs-javascript-vitest.instructions.md
  .github/instructions/tmp/object-calisthenics.instructions.md
  .github/instructions/tmp/performance-optimization.instructions.md
  .github/instructions/tmp/playwright-typescript.instructions.md
  .github/instructions/tmp/security-and-owasp.instructions.md
  .github/instructions/tmp/spec-driven-workflow-v1.instructions.md
  .github/instructions/tmp/task-implementation.instructions.md
  .github/instructions/tmp/tasksync.instructions.md
  .github/instructions/update-code-from-shorthand.instructions.md
  package.json
  pnpm-lock.yaml
  src/components/demo/responsive-modal-demo.tsx
  src/components/device-type-context.tsx
  src/components/device-type-provider.tsx
  src/components/responsive-modal.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/scroll-area.tsx
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/demonstration.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

refactor(tests): remove obsolete tests and add new utility tests
  .github/agents/context7.agent.md
  .github/chatmodes/task-planner.chatmode.md
  tests/ancestry-card.test.tsx
  tests/ancestry-drawer.performance.test.tsx
  tests/ancestry-drawer.save.test.tsx
  tests/card-header.test.tsx
  tests/community-card.test.tsx
  tests/core-scores-card.thresholds.test.tsx
  tests/cost-samples.test.ts
  tests/domain-card-item.a11y.test.tsx
  tests/equipment-card.test.tsx
  tests/equipment-drawer.free-homebrew-filters.test.tsx
  tests/equipment-drawer.test.tsx
  tests/experiences-card.test.tsx
  tests/lib-utils.test.ts
  tests/mobile-utils.test.ts
  tests/resources-card.test.tsx
  tests/search-rank.test.ts
  tests/storage.test.ts
  tests/thresholds-card.test.tsx
  tests/thresholds-format.test.ts
  tests/thresholds-inline.test.tsx
  tests/thresholds-util.test.ts
  tests/use-baseline-snapshot.test.tsx
  tests/use-coarse-pointer.test.tsx
  tests/use-debounced-value.test.tsx
  tests/use-drawer-autosave.test.tsx
  tests/use-loadout-lists.test.tsx
  tests/use-measure-ready.test.tsx
  tests/use-mobile.test.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: Add LabeledCounter component and demo, update dependencies
  package.json
  pnpm-lock.yaml
  src/components/demo/labeled-counter-demo.tsx
  src/components/demo/labeled-counter.tsx
  src/components/labeled-counter.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/routes/demonstration.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

feat: add sidebar component with mobile support and various utilities
  package.json
  pnpm-lock.yaml
  src/components/demo/navbar-demo.tsx
  src/components/navbar/navbar.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
  src/index.css
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/character.tsx
  src/routes/character/index.tsx
  src/routes/character/new.tsx
  src/routes/demonstration.tsx
Due: pnpm exec prettier --write, pnpm exec eslint --fix

Refactor code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write
